@font-face {
    font-family: "Bombardier";
    src: url("./font/Bombardier-Regular.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

@media (max-width: 320px) {
    .centerer {
        transform: scale(0.8);
    }
}

@media (max-width: 250px) {
    .centerer {
        transform: scale(0.5);
    }
}

.centerer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center auto;
}

.base-ui {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.meta-ui {
    background-color: #000A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    width: 256px;
}

.meta-ui-continue {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.square-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 3px;
    background: linear-gradient(#303030, #1A1A1A);
}

.square-image.big {
    width: 96px;
    height: 96px;
}

.artifact-holder {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
}

.artifact-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.artifact-image.bright {
    filter: brightness(100%);
}

.artifact-image.dark {
    filter: brightness(20%);
}

.inside-meta {
    display: flex;
}

.button {
    border-radius: 3px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.button.red {
    background-color: #910330;
}

.text {
    font-family: Bombardier;
    font-size: 20px;
    color: #FFF;
    text-align: left;
    vertical-align: middle;
    filter: drop-shadow(-2px 2px 2px #0006);
}

.text.side {
    margin: 2px 10px;
}

.text.bold {
    font-size: 24px;
}

.text.artifact-name {
    color: #e7c7e7;
    font-size: 20px;
}

.text.artifact-desc {
    color: #808080;
    font-size: 18px;
}

.text.credits {
    color: #808080;
}

.artifact-box {
    padding: 2.5px;
}