@font-face {
    font-family: "Bombardier";
    src: url("./font/Bombardier-Regular.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

.base-ui {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 15px;
    padding: 15px;
}

.meta-ui {
    width: 300px;
    background-color: #000A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
}

.meta-ui-continue {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.square-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 3px;
    background: linear-gradient(#303030, #1A1A1A);
}

.square-image.big {
    width: 128px;
    height: 128px;
}

.inside-meta {
    display: flex;
}

.text {
    font-family: Bombardier;
    font-size: 20px;
    color: #FFF;
    text-align: left;
    vertical-align: middle;
    filter: drop-shadow(-2px 2px 2px #0006);
}

.text.side {
    margin: 2px 10px;
}

.text.bold {
    font-size: 24px;
}
